{{#each user}}
<div class="container-skills">
        <div class="container-skills-2">
            <div class="container-skills-2-block1">
                <div class="container-skills-2-block1-1">
                    <div class="container-skills-2-block1-1-header">
                    </div>
                    <h1 style="margin-top: 0;"> {{this.TITLE}} </h1>
                    <p>
                        {{this.INTRODUCE}}
                    </p>
                    <h2>{{this.muc1}}</h2>
                    <p>
                        {{this.ct1}}
                    </p>
                    {{#if this.IMAGE1}}
                    <img class="image" src="{{this.IMAGE1}}" alt="Ức gà">
                    {{/if}}
                    <h2>{{this.muc2}}</h2>
                    <p>{{this.ct2}}
                    </p>
                    {{#if this.IMAGE2}}
                    <img class="image" src="{{this.IMAGE2}}" alt="Thịt heo - bò">
                    {{/if}}
                    <h2>{{this.muc3}}</h2>
                    <p>{{this.ct3}}.</p>
                    {{#if this.IMAGE3}}
                    <img class="image" src="{{this.IMAGE3}}" alt="Cá sống">
                    {{/if}}
                    <h2>{{this.muc4}}</h2>
                    <p>{{this.ct4}}</p>
                    {{#if this.IMAGE4}}
                    <img class="image" src="{{this.IMAGE4}}" alt="Trứng gà">
                    {{/if}}
                    <h2>{{this.muc5}}</h2>
                    <p>{{this.ct5}}</p>
                    {{#if this.IMAGE5}}
                    <img class="image" src="{{this.IMAGE5}}" alt="Cà chua">
                    {{/if}}
                    <h2>{{this.muc6}}</h2>
                    <p>{{this.ct6}}
                    </p>
                    {{#if this.IMAGE6}}
                    <img class="image" src="{{this.IMAGE6}}" alt="Rau thơm">
                    {{/if}}
                </div>
                <div className="App" style="font-family: sans-serif;
text-align: center;">
    <h1>Góp Ý</h1>
    <div>
      <script src="https://sheetdb.io/s/f/bues6uem9ua09.js"></script>
    </div>
  </div>
            </div>
            <div class="container-skills-2-block2">
                <div class="scrolling-block">
                    <div>
                        <h2>Xem nhiều nhất </h2>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/6-Skills-lam-bep"><img class="image"
                                src="/image/6skillslambep/bokho.png" alt="Bò kho" style="height: 130px;"></a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/6-Skills-lam-bep">
                            <div>
                                <h3>6 Skills để làm món ngon</h3>
                            </div>
                        </a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien"><img class="image"
                                src="/image/lamsachamdunnuoc/1.jpg " alt="Các công cụ để vệ sinh ấm đun nước"
                                style="height: 130px;"></a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien">
                            <div>
                                <h3>Cách làm sạch ấm đun nước điện</h3>
                            </div>
                        </a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem"><img class="image"
                                src="/image/4meobienthitdaithanhthitmem/1.jpg" alt="Thịt ngâm rượu sake"
                                style="height: 130px;"></a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem">
                            <div>
                                <h3>Bốn mẹo biến thịt dai thành mềm mại</h3>
                            </div>
                        </a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/6-luu-y-cho-nguoi-moi-bat-dau"><img class="image" class="image"
                                src="/image/6luuychonguoimoibatdau/MCIM02007674_FR10-KL-L1-6CookingTips-Prep.webp"
                                alt="Recipes" style="height: 130px;"></a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/6-luu-y-cho-nguoi-moi-bat-dau">
                            <div>
                                <h3>6 lưu ý nấu ăn đơn giản </h3>
                            </div>
                        </a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/Nau-an-voi-ngu-coc"><img class="image"
                                src="/image/Nauanvoingucoc/MCIM02007768_FR14-KL-R2-CookingWithGrains-Spelt.webp"
                                alt="Lúa mì nâu (spelt)" style="height: 130px;"></a>
                    </div>
                    <div class="container-skills-2-block2-1">
                        <a href="/MeoVat/Nau-an-voi-ngu-coc">
                            <div>
                                <h3>Hướng dẫn nấu ăn cùng các loại ngũ cốc</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> </div>
{{/each}}
 